{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Six Degrees of the Rap Nation</title>
  <link rel="stylesheet" href="{% static '/sixdegreesgame/styles.css' %}">
</head>
<body>
 <header>
  <h1><a href="{% url 'sixdegreesgame:index' %}">Six Degrees of the Rap Nation</a></h1>
  <a href="{% url 'sixdegreesgame:help' %}">?</a>
 </header> 

{% block main %}
{% endblock main %}

 </body>
 </html>