.rappers__list {
  display: flex;
  padding: 0;
  list-style: none;
}

.rappers__image {
  width: 150px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.song-form label {
  display: block;
}

.song-form + .song-form {
  margin-top: 1rem;
}

